---
import Image from "@/components/Systems/Image.astro";
---

<div class="overflow-hidden">
  <ul class="carousel flex">
    <li class="w-[30%] shrink-0 px-2 md:w-[20%]"><Image loading="eager" image="/src/assets/images/pc/li01.jpg" /></li>
    <li class="w-[30%] shrink-0 px-2 md:w-[20%]"><Image loading="eager" image="/src/assets/images/pc/li02.jpg" /></li>
    <li class="w-[30%] shrink-0 px-2 md:w-[20%]"><Image loading="eager" image="/src/assets/images/pc/li03.jpg" /></li>
    <li class="w-[30%] shrink-0 px-2 md:w-[20%]"><Image loading="eager" image="/src/assets/images/pc/li04.jpg" /></li>
    <li class="w-[30%] shrink-0 px-2 md:w-[20%]"><Image loading="eager" image="/src/assets/images/pc/li05.jpg" /></li>
    <li class="w-[30%] shrink-0 px-2 md:w-[20%]"><Image loading="eager" image="/src/assets/images/pc/li06.jpg" /></li>
    <li class="w-[30%] shrink-0 px-2 md:w-[20%]"><Image loading="eager" image="/src/assets/images/pc/li07.jpg" /></li>
    <li class="w-[30%] shrink-0 px-2 md:w-[20%]"><Image loading="eager" image="/src/assets/images/pc/li08.jpg" /></li>
    <li class="w-[30%] shrink-0 px-2 md:w-[20%]"><Image loading="eager" image="/src/assets/images/pc/li09.jpg" /></li>
    <li class="w-[30%] shrink-0 px-2 md:w-[20%]"><Image loading="eager" image="/src/assets/images/pc/li01.jpg" /></li>
    <li class="w-[30%] shrink-0 px-2 md:w-[20%]"><Image loading="eager" image="/src/assets/images/pc/li02.jpg" /></li>
    <li class="w-[30%] shrink-0 px-2 md:w-[20%]"><Image loading="eager" image="/src/assets/images/pc/li03.jpg" /></li>
    <li class="w-[30%] shrink-0 px-2 md:w-[20%]"><Image loading="eager" image="/src/assets/images/pc/li04.jpg" /></li>
    <li class="w-[30%] shrink-0 px-2 md:w-[20%]"><Image loading="eager" image="/src/assets/images/pc/li05.jpg" /></li>
    <li class="w-[30%] shrink-0 px-2 md:w-[20%]"><Image loading="eager" image="/src/assets/images/pc/li06.jpg" /></li>
    <li class="w-[30%] shrink-0 px-2 md:w-[20%]"><Image loading="eager" image="/src/assets/images/pc/li07.jpg" /></li>
    <li class="w-[30%] shrink-0 px-2 md:w-[20%]"><Image loading="eager" image="/src/assets/images/pc/li08.jpg" /></li>
    <li class="w-[30%] shrink-0 px-2 md:w-[20%]"><Image loading="eager" image="/src/assets/images/pc/li09.jpg" /></li>
  </ul>
</div>

<style>
  .carousel.is-active {
    animation: carousel 40s infinite both linear;
  }
  @keyframes carousel {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-180%);
    }
  }
  @media (max-width: 768px) {
    @keyframes carousel {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-270%);
      }
    }
  }
</style>

<script>
  window.addEventListener("load", function () {
    setTimeout(function () {
      document.querySelectorAll(".carousel").forEach(function (elem, index) {
        elem.classList.add("is-active");
      });
    }, 1000);
  });
</script>
