---
import Image from "@/components/Systems/Image.astro";
---

<script src="https://sdk.form.run/js/v2/embed.js"></script>
<div id="cta" class="formrun-embed" data-formrun-form="@akikokawai-design-a81rBrEoG9o7ZvnFTsBY" data-formrun-redirect="true"></div>
