---
import Image from "@/components/Systems/Image.astro";
---

<div class="cta min-h-[100vh]">
  <script is:inline src="https://sdk.form.run/js/v2/embed.js"></script>
  <div id="cta" class="formrun-embed" data-formrun-form="@akikokawai-design-a81rBrEoG9o7ZvnFTsBY" data-formrun-redirect="true"></div>
</div>
