---
import Image from "@/components/Systems/Image.astro";
---

<a href="#cta" class="fixed bottom-[0%] left-[50%] right-[initial] z-[100] w-[100%] translate-x-[-50%] md:bottom-[2%] md:left-[initial] md:right-[2%] md:w-[10%] md:translate-x-[0]">
  <Image
    image="/src/assets/images/sp/buttonfixed.png"
    sources={[
      {
        src: "/src/assets/images/pc/buttonfixed.png",
        breakpoint: 768,
      },
    ]}
  />
</a>
