---
import Image from "@/components/Systems/Image.astro";
---

<div>
  <Image image="/src/assets/images/pc/02.jpg" />
</div>
<div>
  <Image image="/src/assets/images/pc/03.jpg" />
</div>
<div>
  <Image image="/src/assets/images/pc/04.jpg" />
</div>
