---
import Image from "@/components/Systems/Image.astro";
---

<div>
  <Image
    image="/src/assets/images/sp/SP06.jpg"
    sources={[
      {
        src: "/src/assets/images/pc/06.jpg",
        breakpoint: 768,
      },
    ]}
  />
</div>

<div>
  <Image
    image="/src/assets/images/sp/SP07.jpg"
    sources={[
      {
        src: "/src/assets/images/pc/07.jpg",
        breakpoint: 768,
      },
    ]}
  />
</div>

<div>
  <Image
    image="/src/assets/images/sp/SP08.jpg"
    sources={[
      {
        src: "/src/assets/images/pc/08.jpg",
        breakpoint: 768,
      },
    ]}
  />
</div>

<div>
  <Image
    image="/src/assets/images/sp/SP09.jpg"
    sources={[
      {
        src: "/src/assets/images/pc/09.jpg",
        breakpoint: 768,
      },
    ]}
  />
</div>

<div>
  <Image
    image="/src/assets/images/sp/SP10.jpg"
    sources={[
      {
        src: "/src/assets/images/pc/10.jpg",
        breakpoint: 768,
      },
    ]}
  />
</div>

<div>
  <Image
    image="/src/assets/images/sp/SP11.jpg"
    sources={[
      {
        src: "/src/assets/images/pc/11.jpg",
        breakpoint: 768,
      },
    ]}
  />
</div>

<div>
  <Image
    image="/src/assets/images/sp/SP12.jpg"
    sources={[
      {
        src: "/src/assets/images/pc/12.jpg",
        breakpoint: 768,
      },
    ]}
  />
</div>

<div>
  <Image
    image="/src/assets/images/sp/SP13.jpg"
    sources={[
      {
        src: "/src/assets/images/pc/13.jpg",
        breakpoint: 768,
      },
    ]}
  />
</div>

<div>
  <Image
    image="/src/assets/images/sp/SP14.jpg"
    sources={[
      {
        src: "/src/assets/images/pc/14.jpg",
        breakpoint: 768,
      },
    ]}
  />
</div>

<div>
  <Image
    image="/src/assets/images/sp/SP15.jpg"
    sources={[
      {
        src: "/src/assets/images/pc/15.jpg",
        breakpoint: 768,
      },
    ]}
  />
</div>

<div>
  <Image
    image="/src/assets/images/sp/SP16.jpg"
    sources={[
      {
        src: "/src/assets/images/pc/16.jpg",
        breakpoint: 768,
      },
    ]}
  />
</div>

<div>
  <Image
    image="/src/assets/images/sp/SP17.jpg"
    sources={[
      {
        src: "/src/assets/images/pc/17.jpg",
        breakpoint: 768,
      },
    ]}
  />
</div>

<div>
  <Image
    image="/src/assets/images/sp/SP18.jpg"
    sources={[
      {
        src: "/src/assets/images/pc/18.jpg",
        breakpoint: 768,
      },
    ]}
  />
</div>
