---
import Image from "@/components/Systems/Image.astro";
---

<div>
  <Image
    image="/src/assets/images/sp/SP02.jpg"
    sources={[
      {
        src: "/src/assets/images/pc/02.jpg",
        breakpoint: 768,
      },
    ]}
  />
</div>
<div>
  <Image
    image="/src/assets/images/sp/SP03.jpg"
    sources={[
      {
        src: "/src/assets/images/pc/03.jpg",
        breakpoint: 768,
      },
    ]}
  />
</div>
<div>
  <Image
    image="/src/assets/images/sp/SP04.jpg"
    sources={[
      {
        src: "/src/assets/images/pc/04.jpg",
        breakpoint: 768,
      },
    ]}
  />
</div>
