---
import Image from "@/components/Systems/Image.astro";
---

<div>
  <Image image="/src/assets/images/pc/06.jpg" />
</div>
<div>
  <Image image="/src/assets/images/pc/07.jpg" />
</div>
<div>
  <Image image="/src/assets/images/pc/08.jpg" />
</div>
<div>
  <Image image="/src/assets/images/pc/09.jpg" />
</div>
<div>
  <Image image="/src/assets/images/pc/10.jpg" />
</div>
<div>
  <Image image="/src/assets/images/pc/11.jpg" />
</div>
<div>
  <Image image="/src/assets/images/pc/12.jpg" />
</div>
<div>
  <Image image="/src/assets/images/pc/13.jpg" />
</div>
<div>
  <Image image="/src/assets/images/pc/14.jpg" />
</div>
<div>
  <Image image="/src/assets/images/pc/15.jpg" />
</div>
<div>
  <Image image="/src/assets/images/pc/16.jpg" />
</div>
<div>
  <Image image="/src/assets/images/pc/17.jpg" />
</div>
<div class="bg-[#cccccc]">
  <Image image="/src/assets/images/pc/18.jpg" />
</div>
