---
import Image from "@/components/Systems/Image.astro";
---

<div class="relative">
  <div>
    <Image image="/src/assets/images/pc/05.jpg" />
  </div>
  <div class="absolute left-[50%] top-[33%] w-[95%] translate-x-[-50%]">
    <ul class="mb-[4%] flex flex-wrap gap-[1%]" style="  font-size: clamp(16rem / 16, 16rem / 16 + 16 * (100vw - 375rem / 16) / 625, 42rem / 16);">
      <li class="mb-[1%] grow border-[1px] border-[#999999] bg-white text-center hover:bg-[#CCCCCC]"><button class="slidethumbnail w-[100%]" data-slidenum="0">LP制作</button></li>
      <li class="mb-[1%] grow border-[1px] border-[#999999] bg-white text-center hover:bg-[#CCCCCC]"><button class="slidethumbnail w-[100%]" data-slidenum="1">商品ページ制作</button></li>
      <li class="mb-[1%] grow border-[1px] border-[#999999] bg-white text-center hover:bg-[#CCCCCC]"><button class="slidethumbnail w-[100%]" data-slidenum="2">バナー制作</button></li>
      <li class="mb-[1%] grow border-[1px] border-[#999999] bg-white text-center hover:bg-[#CCCCCC]"><button class="slidethumbnail w-[100%]" data-slidenum="3">ヒートマップを使ったLPO対策</button></li>
      <li class="mb-[1%] grow border-[1px] border-[#999999] bg-white text-center hover:bg-[#CCCCCC]"><button class="slidethumbnail w-[100%]" data-slidenum="4">デザイナー育成</button></li>
    </ul>
    <div class="w-[100%]">
      <div class="overflow-hidden">
        <div class="slide flex duration-150">
          <div class="slideitem w-[100%] shrink-0">
            <Image image="/src/assets/images/pc/slideLP.jpg" />
          </div>
          <div class="slideitem w-[100%] shrink-0">
            <Image image="/src/assets/images/pc/slideproduct.jpg" />
          </div>
          <div class="slideitem w-[100%] shrink-0">
            <Image image="/src/assets/images/pc/slidebanner.jpg" />
          </div>
          <div class="slideitem w-[100%] shrink-0">
            <Image image="/src/assets/images/pc/slideLPO.jpg" />
          </div>
          <div class="slideitem w-[100%] shrink-0">
            <Image image="/src/assets/images/pc/slideeducation.jpg" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="absolute left-[0] top-[60%] flex w-[100%] justify-between">
    <button class="slideButton Prev block w-[6%]">
      <Image image="/src/assets/images/pc/slidebuttonprev.png" />
    </button>
    <button class="slideButton Next block w-[6%]">
      <Image image="/src/assets/images/pc/slidebuttonnext.png" />
    </button>
  </div>
</div>

<style>
  .slidethumbnail.is-active {
    background-color: #cccccc;
  }
</style>

<script>
  const slide = document.querySelector(".slide");
  const slideThumbnails = document.querySelectorAll(".slidethumbnail");
  const slideButtons = document.querySelectorAll(".slideButton");
  const slideAmount = document.querySelectorAll(".slideitem").length;
  let current = 0;

  const slideChange = function (current) {
    slideThumbnails.forEach(function (elem, index) {
      elem.classList.remove("is-active");
    });
    slideThumbnails[current].classList.add("is-active");
    slide.style.transform = `translateX(-${100 * current}%)`;
  };

  slideThumbnails.forEach(function (elem, index) {
    elem.addEventListener("click", function () {
      const base = Number(elem.dataset.slidenum);
      current = base;
      slideChange(current);
    });
  });

  slideButtons.forEach(function (elem, index) {
    elem.addEventListener("click", function () {
      if (elem.classList.contains("Prev")) {
        current = (current - 1) % slideAmount === -1 ? slideAmount - 1 : (current - 1) % slideAmount;
        slideChange(current);
      } else {
        current = (current + 1) % slideAmount;
        slideChange(current);
      }
    });
  });
</script>
