---
import Image from "@/components/Systems/Image.astro";
import "@splidejs/splide/css";
---

<div class="relative">
  <Image
    image="/src/assets/images/sp/sp05.jpg"
    sources={[
      {
        src: "/src/assets/images/pc/05.jpg",
        breakpoint: 768,
      },
    ]}
  />
  <div class="absolute left-1/2 top-[45%] w-[95%] translate-x-[-50%] md:top-[33%]">
    <section class="splide tab-list mb-5 md:mb-10" aria-label="タブリスト">
      <div class="splide__track h-full">
        <ul class="splide__list">
          <li class="splide__slide">LP制作</li>
          <li class="splide__slide">商品ページ制作</li>
          <li class="splide__slide">バナー制作</li>
          <li class="splide__slide">ヒートマップを使ったLPO対策</li>
          <li class="splide__slide">デザイナー育成</li>
        </ul>
      </div>
    </section>

    <section class="slide splide" aria-label="スライダー">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <Image image="/src/assets/images/pc/slideLP.jpg" />
          </li>
          <li class="splide__slide">
            <Image image="/src/assets/images/pc/slideproduct.jpg" />
          </li>
          <li class="splide__slide">
            <Image image="/src/assets/images/pc/slidebanner.jpg" />
          </li>
          <li class="splide__slide">
            <Image image="/src/assets/images/pc/slideLPO.jpg" />
          </li>
          <li class="splide__slide">
            <Image image="/src/assets/images/pc/slideeducation.jpg" />
          </li>
        </ul>
      </div>
      <div class="splide__arrows splide__arrows--ltr">
        <button
          class="splide__arrow splide__arrow--prev"
          type="button"
          aria-label="Previous slide"
          aria-controls="splide01-track">
          <Image image="/src/assets/images/pc/slidebuttonprev.png" /></button
        >

        <button
          class="splide__arrow splide__arrow--next"
          type="button"
          aria-label="Next slide"
          aria-controls="splide01-track">
          <Image image="/src/assets/images/pc/slidebuttonnext.png" class="h-full w-full" />
        </button>
      </div>
    </section>
  </div>
</div>

<script>
  import Splide from "@splidejs/splide";

  const slider: HTMLElement = document.querySelector(".slide");
  const tabList: HTMLElement = document.querySelector(".tab-list");

  window.addEventListener("DOMContentLoaded", () => {
    const splide = new Splide(slider, {
      type: "loop",
      rewind: true,
      autoplay: true,
      interval: 6900,
      speed: 1500,
      pauseOnHover: false,
      pagination: false,
    }).mount();

    const tabSlider = new Splide(tabList, {
      type: "slide",
      arrows: false,
      pagination: false,
      perPage: 5,
      width: "100%",
      isNavigation: true,
      drag: false,
    }).mount();

    splide.sync(tabSlider);
    splide.mount();
    tabSlider.mount();
  });
</script>

<style>
  .slidethumbnail.is-active {
    background-color: #cccccc;
  }
  .tab-list ul {
    @apply grid w-full grid-cols-2 grid-rows-2 gap-x-1 gap-y-1 md:grid-cols-3;
    & li {
      width: 100% !important;
      @apply border-[#999999] bg-white py-2 text-center font-bold hover:bg-[#CCCCCC] md:text-2xl;
      &:nth-child(1) {
        @apply [grid-area:1/1/2/2];
      }
      &:nth-child(2) {
        @apply [grid-area:1/2/2/3];
      }
      &:nth-child(3) {
        @apply md:[grid-area:1/3/2/4];
      }
      &:nth-child(4) {
        @apply [grid-area:3/1/4/3] md:[grid-area:2/1/3/3];
      }
      &:nth-child(5) {
        @apply [grid-area:2/2/3/3] md:[grid-area:2/3/3/4];
      }
    }
  }
  .splide__track--nav .splide__list .splide__slide {
    border: 2px solid #999 !important;
  }
  .splide__track--nav .splide__list .splide__slide.is-active {
    outline: none !important;
    background-color: #ccc;
  }
  .splide__arrow {
    align-items: flex-start !important;
    background: transparent !important;
    @apply w-8 !opacity-100 md:!w-24;
  }
  .splide__arrow picture {
    width: 100%;
  }
  .splide__arrow img {
    width: 100% !important;
  }
  .splide__arrow--next {
    right: -1em !important;
  }
  @media (max-width: 768px) {
    .splide__arrow--next {
      right: 0em !important;
    }
  }
  .splide__arrow--prev {
    left: -1em !important;
  }
  @media (max-width: 768px) {
    .splide__arrow--prev {
      left: 0em !important;
    }
  }
</style>
