@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-main: "Noto Sans JP", sans-serif;
    --clr-text: #333333;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: var(--font-main);
    @apply min-h-screen text-[var(--clr-text)];
  }
  main {
    @apply min-h-screen;
  }
  img {
    @apply block h-auto w-full;
  }
}

@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hidden-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .spOnly {
    @apply md:hidden;
  }
  .pcOnly {
    @apply hidden md:block;
  }
}

@media (min-width: 769px) {
  .main {
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
  }
}
@media (min-width: 769px) {
  .scale.is-active {
    animation: scale 2s infinite;
  }
}
@keyframes scale {
  from {
    scale: 0.9;
  }
  to {
    scale: 1;
  }
}
