---
// 旧：config.jsonを使用する場合はこちらをインポート
// import BaseLayouts from "../layouts/OldBaseLayouts.astro";

import Image from "@/components/Systems/Image.astro";
import CustomScripts from "../components/Project/Scripts/CustomScripts.astro";
import BaseLayouts from "../layouts/BaseLayouts.astro";
import type { HeadTags, Attributes } from "@/types/baseLayouts";
import FV from "../components/Project/Sections/Firstview.astro";
import Section1 from "../components/Project/Sections/Section1.astro";
import Slider from "@/components/Project/Sections/Slider.astro";
import Section2 from "../components/Project/Sections/Section2.astro";
import Carousel from "../components/Project/Sections/Carousel.astro";
import CTA from "../components/Project/Sections/CTA.astro";
import FixedButton from "../components/Project/Sections/FIxedButton.astro";

const LayoutProps: HeadTags & Attributes = {
  title: "Home",
  robots: false,
  googlebot: false,
  attr: {
    htmlAttr: {
      lang: "ja",
    },
  },
};
---

<BaseLayouts {...LayoutProps}>
  <Fragment slot="head"></Fragment>
  <Fragment slot="header"></Fragment>
  <main class="main mx-auto max-w-[1000px]">
    <FV />
    <Carousel />
    <Section1 />
    <Slider />
    <Section2 />
    <CTA />
    <FixedButton />
  </main>
  <Fragment slot="footer">
    <CustomScripts />
  </Fragment>
</BaseLayouts>
