---
import "@splidejs/splide/css/core";
interface Props {
  slideName?: string;
  class?: string;
  id: string;
}
const { slideName, class: className, id } = Astro.props;
---

<section class:list={["container", className]}>
  <div class:list={["splide"]} data-slider={id} aria-label={slideName ? slideName : "スライドショー"}>
    <div class="splide__track">
      <ul class="splide__list">
        <slot />
      </ul>
    </div>
    <div class="splide__arrows splide__arrows--ltr">
      <button
        class="splide__arrow splide__arrow--prev"
        type="button"
        aria-label="Previous slide"
        aria-controls="splide01-track">
        <slot name="arrows">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5"></path>
          </svg>
        </slot>
      </button>
      <button
        class="splide__arrow splide__arrow--next"
        type="button"
        aria-label="Next slide"
        aria-controls="splide01-track">
        <slot name="arrows">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5"></path>
          </svg>
        </slot>
      </button>
    </div>
  </div>
</section>