<div id="main" class="splide" aria-label="メインのスライダー">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide"></li>
      <li class="splide__slide"></li>
      <li class="splide__slide"></li>
      <li class="splide__slide"></li>
      <li class="splide__slide"></li>
      <li class="splide__slide"></li>
    </ul>
  </div>
</div>

<div id="thumbnail" class="splide" aria-label="サムネイル">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">LP制作</li>
      <li class="splide__slide">商品ページ制作</li>
      <li class="splide__slide">バナー制作</li>
      <li class="splide__slide">ヒートマップを使ったLPO対策</li>
      <li class="splide__slide">デザイナー育成</li>
    </ul>
  </div>
</div>

<script>
  import Splide from "@splidejs/splide";
  const main = new Splide("#main", {
    cover: true,
    heightRatio: 0.5,
    type: "loop",
    pagination: false,
    mediaQuery: "min",
    breakpoints: {
      600: {
        heightRatio: 0.3,
      },
    },
  });
  const thumbnails = new Splide("#thumbnail", {
    fixedWidth: 100,
    fixedHeight: 60,
    type: "loop",
    focus: "center",
    gap: 10,
    arrows: false,
    pagination: false,
    isNavigation: true,
    breakpoints: {
      600: {
        fixedWidth: 60,
        fixedHeight: 44,
      },
    },
  });
  main.sync(thumbnails);
  main.mount();
  thumbnails.mount();
</script>
